$bg_color_main: #F2E2D7;
$color_dark_green: #32797F;
$color_almost_black: #312F2E;
$color_dreamy_grey: #F5F5F5;
$header_bg_color: #FFF;

$font_text_primary: 'IBM Plex Serif', serif;
$font_text_secondary: 'Futura', sans-serif;